<div [formGroup]="form" class="course-details-form">

  <!--Normal input-->
  <mat-form-field floatLabel="auto" appearance="fill" style="padding: 4px">

    <mat-label>Title</mat-label>
    <input matInput placeholder="Course title" formControlName="title" #title>
    <!--    <span matPrefix>+1</span>-->
    <!--    <span matSuffix>$</span>-->
    <mat-hint align="end">
      {{ title.value.length }} / 60
    </mat-hint>

    <mat-error *ngIf="form.get('title').errors?.minlength">
      A minimum length of 5 characters is required.
    </mat-error>

  </mat-form-field>

  <!-- Radio button-->
  <mat-radio-group class="course-type">

    <mat-radio-button [disabled]="true" value="free">Free</mat-radio-button>
    <mat-radio-button value="premium">Premium</mat-radio-button>

  </mat-radio-group>

  <!--  input select -->
  <mat-form-field appearance="fill">

    <mat-label>Category</mat-label>
    <mat-select placeholder="Select category">
      <!--You can add the directive multiple to the select-->
      <mat-option>None</mat-option>

      <mat-optgroup label="Beginners">
        <mat-option value="newProgramming">New to Programming</mat-option>
        <mat-option value="newJavascript">New to JavaScript</mat-option>
        <mat-option value="newAngular">New to Angular</mat-option>
      </mat-optgroup>

      <mat-option value="advanced">Advanced</mat-option>

    </mat-select>

  </mat-form-field>

  <!--  Date picker-->
  <mat-form-field>

    <mat-label>Released Date</mat-label>

    <input matInput formControlName="releasedAt"
           placeholder="Release date" [matDatepicker]="releasedAtPicker">

    <mat-hint>MM/DD/YYYY</mat-hint>

    <mat-datepicker-toggle matSuffix [for]="releasedAtPicker"></mat-datepicker-toggle>

    <mat-datepicker #releasedAtPicker [dateClass]="dateClass"></mat-datepicker>

  </mat-form-field>

  <!--  Check boxes-->
  <mat-checkbox color="primary" formControlName="downloadsAllowed"
                [indeterminate]="true">
    Downloads allowed?
  </mat-checkbox>

<!--  Text area-->
  <mat-form-field>

    <mat-label>Description</mat-label>
    <textarea matInput
              placeholder="This is a description"
              cdkTextareaAutosize
              [cdkAutosizeMinRows]="2"
              [cdkAutosizeMaxRows]="5"
              formControlName="longDescription">

    </textarea>

    <mat-error *ngIf="form.get('longDescription').errors?.minlength">
      A minimum length of 3 characters is required.
    </mat-error>

  </mat-form-field>
</div>



